header {
  padding: 10px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.headerWrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}
.logoWrapper {
  display: flex;
  align-items: center;
}
.logoWrapper:hover {
  cursor: pointer;
}
.menu {
  margin-right: 20px;
}
.logo {
  margin-right: 5px;
}
.logo {
  width: 40px;
}
.logoImg {
  width: 100%;
}
.userField {
  display: flex;
  align-items: center;
}
.userName {
  text-align: center;
}
.userIcon {
  width: 50px;
  transition: 0.3s;
}
.userIcon:hover {
  cursor: pointer;
  opacity: 0.8;
}
.userIcon img {
  border-radius: 50%;
  width: 100%;
}
.navLink {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.navLink:hover {
  color: black;
}
