.wrapper {
  margin-top: -8px;
}
.navWrapper {
  background: #eee;
}
.navList {
  list-style-type: none;
  padding: 0 40px 0 20px;
}

.navLink {
  font-weight: 700;
  color: #888;
  font-size: 18px;
  padding: 1px;
  text-decoration: none;
}
.navLink:hover {
  color: #444;
  cursor: pointer;
}
.active {
  color: #444;
  font-weight: 900;
}
