.filesDescription {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}
.filesDescription > * {
  font-weight: 700;
}
