.wrapper {
  display: grid;
  grid-template-areas:
    "h h h h h h h h h"
    "n c c c c c c c a";
}

.header {
  grid-area: h;
}

.navbar {
  grid-area: n;
}

.content {
  grid-area: c;
}

aside {
  grid-area: a;
}
