.fileWrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  padding: 5px 5px;
}
.fileWrapper:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.remove {
  text-align: right;
}
.removeText {
  padding: 2px;
}
.removeText:hover {
  text-shadow: 0 0 1px red;
}
.checkbox:hover {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
